* {
  box-sizing: border-box;
}

button {
  
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}

button {
  border: none;
  background-color: white;
}

.game-field {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 15%;
  margin-inline: auto;
}

.cell {
  width: 50px;
  height: 50px;
  background-color: rgb(247, 246, 246);
  border: 1px solid rgb(194, 193, 193);
  transition: all .2s linear;
  cursor: pointer;
}

.cell--win {
  background-color: rgb(202, 176, 176);
}

.symbol {
  font-weight: 700;
}

.symbol--x {
  color: red;
}

.symbol--o {
  color: green;
}



.reset-button {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid black;
  margin-top: 10px;
  cursor: pointer;
}